.contenedor{
	margin-bottom: 0px;
} /* lo pusimos por la foto del artista*/

body{
	background-color: #1a1a1a;
	font-family: 'Lato', sans-serif;
}

#foto-perfil{
	width: 100%;

	/* HACER DEGRADE*/
}

button {
	background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-size:smaller;
	padding: 5px 20px;
	text-decoration:none;
	margin: 0 auto;
    display: block;
}

button:hover {
	background-color:white;
	color: #1a1a1a;
}

.position{
	position: relative;
}

div b{
	font-family: 'Nunito Sans', sans-serif;
	
	position: absolute;
	bottom: 0;
	left: 10px;
	color: azure;
	font-size: 50px;
}

.error-desktop {
	display: none;
	width: 250px;
}

div ul.detalle li{
	text-align: center;
	color: gray;
	font-size: small;
	margin-top: 15px;
	
}

div ul li a{
	text-decoration: none;
	color: grey;
}

.populares {
	padding-left: 20px;
	color: azure;
}

main section{
	display: grid;
	grid-template-columns:90% 5%;
	justify-content: center;

	margin-top: 20px;
}

main section article i{
	color: white;
}

.conteo{
	color: azure ;
}

main section article a {
	font-size: medium;
	color: white;
	padding: 2%;

}

ul.detalle{
	padding-left: 0px;
}

ol{
	color: azure ;
}

footer section{
	background-color: white;
	display: grid;
	grid-template-columns: 30% 30% 30% ;
	justify-content: space-around;
	margin-top: 60px;
}

article p{
	color: black;
	text-align: center;
}

footer section article {
	margin: auto;
}

footer section article a{
	color: black;
}

.logo{
	width: 100%;
	margin: auto;
}



@media (min-width: 768px){

	#foto-perfil{
		border: 1px solid white;
	}
	.titulo-desktop{
		display: grid;
		grid-template-columns: 20% 70%;
		justify-content: space-around;

		margin-top: 50px;
	}

	div b{
		display: none;
		position: relative;
	}

	.error-desktop {
		display: block;
		font-size: 40px;
	}

	.detalle{
		display: block;
		margin-right: 73%;
	}

	.populares{
	padding: 30px 20px 10px;
	}

	div ul.detalle li{
		margin-top: 0px;
	}

	div ul.detalle li.boton{
		margin-top: 10px;
		margin-bottom: 5px;
	}

	main{
		margin-top: 20px;
	}

	main section{
		border-top: 1px solid dimgray;
		margin-top: 1px;
	}

	main section:last-child{
		border-bottom: 1px solid dimgray;
	}

	main section article{
		margin: 15px 0%;
	}

	footer section{
		grid-template-columns: 15% 15% 15% 15% 15% 15% ;
	}

	footer section article p{
		margin: 0;
	}

}