body{
    background-color:#1a1a1a;
    font-family: 'Lato', sans-serif;
}

div h1{ /*titulo genero?*/
	text-align: center;
	color: azure;
	font-size: x-large;
	margin-top: 30px;
}

section{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    margin-top: 50px;
}

main section img{
    width: 100%;
    border-radius: 10%;
}

article{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nombre-genero{ /* poner el nombre del genero sobre la foto*/
    color: azure;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    
}

/*FOOTER*/
footer section{
    background-color: white;
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    justify-content: space-around;
    margin-top: 60px;
}

article p{
color: black;
text-align: center;
}

footer section article {
margin: auto;
}

footer section article a{
color: black;
}

.logo{
width: 100%;
margin: auto;
}


@media (min-width: 768px) {

    div h1{ /*titulo genero?*/
        text-align: left;
        font-size: 50px;
        margin-left: 30px;
        
    }

    section{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-around;
    
    }

    /*FOOTER*/
    footer section{
		grid-template-columns: 15% 15% 15% 15% 15% 15% ;
	}

	footer section article p{
		margin: 0;
	}
} 