body{
    background-color:#1a1a1a;
    font-family: 'Lato', sans-serif;
}

#foto-genero{
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
    display: block;
    border: 1px solid white;
}

div h1{
	text-align: center;
	color: azure;
	font-size: x-large;
	margin-top: 30px;
}

section{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    margin-top: 50px;
}

main section img{
    width: 100%;
    border-radius: 50%;
}
article{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nombre-artista{
    color: azure;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    
}


/*FOOTER*/
footer section{
    background-color: white;
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    justify-content: space-around;
    margin-top: 60px;
}

article p{
color: black;
text-align: center;
}

footer section article {
margin: auto;
}

footer section article a{
color: black;
}

.logo{
width: 100%;
margin: auto;
}


@media (min-width: 768px) {

    .titulo-desktop{
        display: grid;
        grid-template-columns: 20% 70%;
        justify-content: space-around;
    }
    
    div h1{
        text-align: left;
        font-size: 50px;
        
    }

    section{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-around;
    
    }

    #foto-genero{
        width: 100%;
        margin-top: 0;
        border: 1px solid white;
    }

    /*FOOTER*/
    footer section{
		grid-template-columns: 15% 15% 15% 15% 15% 15% ;
	}

	footer section article p{
		margin: 0;
	}
} 