/* HEADER */
.contenedor{
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 50px;
	/*margin: 0px 0px 54px;*/
	position: fixed;
	top: 0;
	z-index: 2;
	
	display: grid;
	grid-template-columns: 20% 50% 20%;
	justify-content: space-around;
}

.titulos{
	display: none;
}

.lupita{
	margin: auto;
	color: azure;
}

#search-mobile{
    background-color: #E43397;
    border: 1px solid #E43397;
    border-radius: 10px;
    color: azure;
    margin-left: 120px;
	margin-right: 24px;
	padding-left: 10px;
    height: 40px;
	width: 200px;
}

.uk-search-input{
	color: azure;
	margin-top: 50px;
}

.fa-grip-lines{
	margin: 16px 24px;
	color: azure;
}

header .logo{
	margin: auto;
	color: azure;
}

header .contenedor .menu ul li{
	margin: 0px 0px 20px;
	font-size: 20px;
}


@media (min-width: 768px){

.menu{
	display: none;
}

#search-mobile{
    background-color: rgba(26,26,26,0.8);
    border: none;
	border-radius: none;
}

.titulos{
	display: grid;
	grid-template-columns: 10% 15% 15%;
	justify-content: space-evenly;
	padding: 12px 0px;
}

.titulos a{
	color: azure;
	text-align: left;
}
	
.contenedor{
	grid-template-columns: 5% 60% 20%;
}

.logo{
	margin: auto;
}

.lupita{
	padding-left: 90%;
	margin-top: 10px;
}

.uk-search-input{
	margin-top: 0;
}

}