body{
	background-color:#1a1a1a;
	font-family: 'Lato', sans-serif;
}

img{
	width: 100%;
}

main div div ul li {
	margin-right: 5%;
	padding-left: 5%;
} /*no funciona si le ponemos .tops */

.uk-dotnav {
	display: none;
}

.tracks{

	margin-bottom: 30px;
	margin-top: 10px;
}

.artists{
	margin-bottom: 30px;
	margin-top: 10px;
}

.albums{
	margin-bottom: 30px;
	margin-top: 10px;
}


h1{
	color: azure;
	font-family: 'Nunito Sans', sans-serif;
	margin-left: 20px;
}

h3{
    color: azure;
	font-size: x-large;
	font-family: 'Nunito Sans', sans-serif;
	margin-left: 20px;
}

footer section{
	background-color: white;
	display: grid;
	grid-template-columns: 30% 30% 30% ;
	justify-content: space-around;
	margin-top: 60px;
}
	
article p{
	color: black;
	text-align: center;
}

footer section article {
	margin: auto;
}

footer section {
	margin-bottom: 0px;
}

footer section article a{
	color: black;
}

.logo{
	width: 100%;
	margin: auto;
}


/* DESKTOP*/

@media (min-width: 768px){

	main div div ul li {
		margin-right: 0%;
		padding-left: 3%;
	}/*no funciona si le ponemos .tops */
	
	.uk-dotnav {
		display: flex;
		margin: 0%;
	}

	h3{
		margin-left: 35px;
	}

	footer section{
		grid-template-columns: 15% 15% 15% 15% 15% 15% ;
	}

	footer section article p{
		margin: 0;
	}


}

