/* RESET CSS
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*SPINNER*/
.loader {
	
	width: 60px;
	height: 50px;
	margin: 0 auto;
	padding-top: 610px;
	-webkit-transform: translateY(-50%) translateX(-50%);
	}
	
	.loader div {
	  height: 100%;
	  width: 8px;
	  display: inline-block;
	  float: left;
	  margin-left: 2px;
	  -webkit-animation: delay 0.8s infinite ease-in-out;
	  animation: delay 0.8s infinite ease-in-out;
	}
	
	.loader .bar1{
	  background-color: #E43397 ;
	}
	.loader .bar2{
	  background-color: #CB88FF;
	  -webkit-animation-delay: -0.7s;
	  animation-delay: -0.7s;
	}
	.loader .bar3{
	  background-color: #7800FF;
	  -webkit-animation-delay: -0.6s;
	  animation-delay: -0.6s;
	}
	.loader .bar4{
	  background-color: #4C0AD0;
	  -webkit-animation-delay: -0.5s;
	  animation-delay: -0.5s;
	}
	.loader .bar5{
	  background-color: #184FBF;
	  -webkit-animation-delay: -0.4s;
	  animation-delay: -0.4s;
	}
	.loader .bar6{
	  background-color: #00C4CC;
	  -webkit-animation-delay: -0.3s;
	  animation-delay: -0.3s;
	}
  
  @-webkit-keyframes delay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
	20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes delay {
	0%, 40%, 100% { 
	  transform: scaleY(0.05);
	  -webkit-transform: scaleY(0.05);
	}  20% { 
	  transform: scaleY(1.0);
	  -webkit-transform: scaleY(1.0);
	}
  }