body{
	background-color:#1a1a1a;
	font-family: 'Lato', sans-serif;
}

a:hover{
	color: #E43397;
	text-decoration: none;
}

main{
	display: none;
	padding-top: 40px;
}

.container{
	margin: 0 auto;
    width: 80%;
}

#foto-cancion{
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
    display: block;
    border: 1px solid white;
}

div h1{
	text-align: center;
	color: azure;
	font-size: x-large;
	margin-top: 50px;
}

div h2{
	text-align: center;
	color: gray;
	font-size: small;
	margin-top: 20px;
}

div h2 a{
	color: gray;
}

.add-playlist{
	width: 40%;
	height: 50px;
	background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	margin: 0 auto;
	margin-top: 30px;
	display: block;
}

button:hover {
	background-color:#E43397;
	border:1px solid #E43397;
	color: #1a1a1a;
}
       
aside ul {
	color: white;
	padding-left: 0px;
	font-size: small;
}

aside ul li a {
	color: azure
}

aside{
	text-align: center;
	margin-top: 30px;
}

aside img{
	display: none;
}

iframe{
	margin-top: 50px;
}

footer section{
	background-color: white;
	display: grid;
	grid-template-columns: 30% 30% 30% ;
	justify-content: space-around;
	margin-top: 60px;
}

article p{
	color: black;
	text-align: center;
}

footer section article {
	margin: auto;
}

footer section article a{
	color: black;
}

.logo{
	width: 100%;
	margin: auto;
}


@media (min-width: 768px) {

	.titulo{
		display: grid;
		grid-template-columns: 20% 70%;
		justify-content: space-around;
	}

	#foto-cancion {
	width: 100%;
	margin-top: 0px;
	}


	main{
		padding-top: 80px;
	}

	div h1{
		text-align: left;
		font-size: 32px;
		margin-top: 0px;
	}
	
	div h2{
		text-align: left;
	}

	div button {
		margin-left: 0%;
	}

	aside{
		display: grid;
		grid-template-columns: 10% 85%;
		justify-content: space-around;
	}

	aside ul{
		text-align: left;
		margin-top: 20px;
	}

	aside img{
		display: block;
		border-radius: 50%;
		width: 100%;
		margin-left: 10%;
	}

	.add-playlist{
		width: 130px;
		margin: 0;
		margin-top: 50px;s
	}

	footer section{
		grid-template-columns: 15% 15% 15% 15% 15% 15% ;
		margin-top: 100px;
	}

	footer section article p{
		margin: 0;
	}

}
