/* RESET CSS
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*ACA ARRANCA EL CSS NUESTRO */
body{
    background-color:#1a1a1a;
}

/*
main{
    display: grid;
	grid-template-columns: 20% 20% 20% 20% ;
	grid-template-rows:15% 15% 15% 15% 15%;
	justify-content: space-around;
	gap: 5px 0px;

}
*/
img{
	width: 100%;
}

/* como hacer que quede la mitad y scrollear a la derecha las imagenes y que seria carrousel*/

.tracks{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% ;
	justify-content: space-around;
	margin-bottom: 30px;
	margin-top: 10px;
}


.albums{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% ;
	justify-content: space-around;
	margin-bottom: 30px;
	margin-top: 10px;
}

.artists{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% ;
	justify-content: space-around;
	margin-bottom: 30px;
	margin-top: 10px;
}

.playlists{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% ;
	justify-content: space-around;
	margin-bottom: 30px;
	margin-top: 10px;
}
.podcasts{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	justify-content: space-around;
	margin-top: 10px;

}

h3{
    color: aliceblue;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
	}

footer{
		background-color: white;
	}
	
ul.deezer{
	display: grid;
	grid-template-columns: 45% 45% ;
	justify-content: space-between;
}

.integrantes{
	color: black;
}

.logo{
	width: 100%;

}
