body{
	background: #1a1a1a;
	font-family: Arial, Helvetica, sans-serif;
}

#foto-album{
	width: 50%;
	/*hacer la imagen cuadrada y que no quede crota*/
	margin: 0 auto;
	margin-top: 10%;
    display: block;
    border: 1px solid white;
}
div h1{
	text-align: center;
	color: azure;
	font-size: x-large;
	margin-top:5%;
}
div h2{
	text-align: center;
	color: gray;
	font-size: small;
	margin-top: 3%;
}
div h2 a{
	color: gray;
}

main{
	margin-top: 5%;
}

main section{
	display: grid;
	grid-template-columns: 5% 80% 5%;
	justify-content: center;
}

main article a {
	font-size: medium;
	color: white;
	text-decoration: none;
}
main article{
	margin-bottom: 3%;
	margin-top: 3%;
	padding-left: 5%;
}

main article h4{
	color: gray;
	font-size: x-small;
	
	margin-top: 1%;
}
/* Agregar lineas divisoras entre
 canciones cuando sea tablet/dec */

aside ul {
	color: white;
	padding-left: 5%;
	font-size: x-small;

	display: grid;
	grid-template-columns: 20% 75% ;
	justify-content: space-around;
}

main .iconos {
	margin: auto;
	color: azure;
}


aside{
	margin-top: 5%;
}
aside img{
	width: 100%;
	/*hacer la imagen redonda y que no quede crota*/
}
aside div{
	margin-top: 3%;
	margin-bottom: 3%;
}

aside ul div li a{
    color: azure;
}

footer section{
	background-color: white;
	display: grid;
	grid-template-columns: 30% 30% 30% ;
	justify-content: space-around;
	margin-top: 10%;
}

article p{
color: black;
text-align: center;
}
/*	border-right: 1px solid black;
padding-left : 5%;
font-size: small;

}

#ultimo{
border-right: none;
}
*/

footer section article {
margin: auto;
}

footer section article a{
color: black;
}

.logo{
width: 100%;
margin: auto;
}


@media (min-width: 768px){

.album{
	display: grid;
	grid-template-columns: 20% 70%;
	justify-content: space-around;
}

div h1{
text-align: left;
font-size: 32px;
}

div h2{
	text-align: left;

}

#foto-album{
	width: 232px;
	height: 232px;
}

main section{
	border-top: 1px solid dimgray;

}

.ultimo{
	border-bottom: 1px solid dimgray;
}

aside ul li img{

}

aside ul  {
	font-size: larger;
}






}