/*habiamos borrado del reset la OL y LI*/

header section{
	margin-bottom: 0%;
} /* lo pusimos por la foto del artista*/
body{
	background-color: #1a1a1a;
	font-family: Arial, Helvetica, sans-serif;
}

#foto-perfil{
	width: 100%;

	/* HACER DEGRADE*/
}

.follow{
	display: grid;
	grid-template-columns: 45% 45%;
	justify-content: center;
}
button {
	background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-size:smaller;
	padding: 5px 20px;
	text-decoration:none;
	margin: 0 auto;
    display: block;
}
button:hover {
	background-color:white;
	color: #1a1a1a;
}

.position{
	position: relative;
}

div b{
	position: absolute;
	bottom: 0;
	left: 10px;
	color: azure;
	font-size: 50px;
}

div ul li{
	text-align: center;
	color: gray;
	font-size: small;
	margin-top: 3%;
	
}

div ul li a{
	text-decoration: none;
	color: grey;
}


main section{
	display: grid;
	grid-template-columns:90% 5%;
	justify-content: center;

	margin-top: 20px;
}

main section article i{
	color: white;
}

main section article a {
	font-size: medium;
	color: white;
	padding: 5%;

}

main ol li{
	margin-top: 5%;
}

ol{
	color: azure ;
}

