body{
    background-color:#1a1a1a;
}

#foto-genero{
	width: 50%;
	/*hacer la imagen cuadrada y que no quede crota*/
	margin: 0 auto;
	margin-top: 10%;
    display: block;
    border: 1px solid white;
}

div h1{
	text-align: center;
	color: azure;
	font-size: x-large;
	margin-top:5%;
}

section{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
}

section img{
    width: 100%;
    border-radius: 50%;
}
article{
    margin-top: 10px;
    margin-bottom: 10px;
}

aside h3{
    color: azure;
    font-size: xx-large;
    
}

aside p{
    color: azure;
    margin-top: 5%;
}

aside{
    margin-left: 5%;
}