
body{
    background-color:#1a1a1a;
}
.container{
	margin: 0 auto;
    width: 80%;
}
#foto-cancion{
	width: 50%;
	/*hacer la imagen cuadrada y que no quede crota*/
	margin: 0 auto;
	margin-top: 10%;
    display: block;
    border: 1px solid white;
}

div h1{
	text-align: center;
	color: azure;
	font-size: x-large;
	margin-top:5%;
}
div h2{
	text-align: center;
	color: gray;
	font-size: small;
	margin-top: 3%;
}
div h2 a{
	color: gray;
}

button {
	width: 70%;
	height: 50px;
	background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	margin: 0 auto;
	margin-top: 10%;
    display: block;
}
button:hover {
	background-color:white;
	color: #1a1a1a;
}

       
aside ul {
	color: white;
	padding-left: 5%;
	font-size: small;
}
aside{
text-align: center;
margin-top: 10%;
}

footer section{
	background-color: white;
	display: grid;
	grid-template-columns: 30% 30% 30% ;
	justify-content: space-around;
	margin-top: 50%;
}

article p{
color: black;
text-align: center;
}
/*	border-right: 1px solid black;
padding-left : 5%;
font-size: small;

}

#ultimo{
border-right: none;
}
*/

footer section article {
margin: auto;
}

footer section article a{
color: black;
}

.logo{
width: 100%;
margin: auto;
}
@media (min-width: 768px) {

	.titulo{
		display: grid;
		grid-template-columns: 20% 70%;
		justify-content: space-around;
	}
	
	div h1{
	text-align: left;
	font-size: 32px;
	}
	
	div h2{
		text-align: left;
	
	}
	#foto-cancion {
	width: 100%;
	}
}
